/*----------------------------*/
/* CATEGORIES HOVER           */
/*----------------------------*/

.angebot-categorie:hover .angebot-category-item {
	color: rgba(255, 255, 255, 0.2);
}
.angebot-categorie .angebot-category-item:hover {
	color: rgba(255, 255, 255, 1);
}
.angebot-categorie:hover .angebot-items-separator {
	color: rgba(255, 255, 255, 0.2);
}


/* Navigation */

.nav-item:first-child,
.p-list__collection-item:first-child .p-list__link-block {
	border-top: 1px solid #e2e2e2
}
.nav-item:first-child:hover,
.p-list__collection-item:first-child .p-list__link-block:hover {
	border-color: #d1d1d1;
}
.nav-overlay__cursor {
	pointer-events: none
}
.nav-overlay__cursor__img.active {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}
.nav-logo.black svg path,
.nav-logo.black svg polygon,
.grey-body .nav-logo svg path,
.grey-body .nav-logo svg polygon {
	fill: #464646;
}
.nav-logo svg path,
.nav-logo svg polygon {
	-webkit-transition: fill 300ms cubic-bezier(.645, .045, .355, 1);
	transition: fill 300ms cubic-bezier(.645, .045, .355, 1)
}

.navigation,
.pagetransition {
	pointer-events: none
}
.navigation .nav-logo,
.navigation .nav-button,
.navigation .nav-overlay {
	pointer-events: auto
}
.nav-button:hover .nav-button__hover {
	opacity: 0.08
}
.nav-button__hover {
	pointer-events: none
}
.cursor {
	pointer-events: none
}
.cursor__circle {
	width: 0px;
	height: 0px;
	opacity: 0;
}
.cursor.cursor__active .cursor__circle {
	width: 60px;
	height: 60px;
	opacity: 1;
}
.cursor.cursor__active .cursor__circle.cursor__circle__drag {
	width: 100px;
	height: 100px;
}

.cursor.cursor__active .cursor__circle.cursor__circle__drag .cursor__arrow {
	margin: 0 10px;
}

.nav-logo.hidden-logo {
	opacity: 0;
	pointer-events: none
}


.h-projekte__item:hover .p-hero__block__gradient,
.p-hero__item:hover .p-hero__block__gradient {
	opacity: 0.7
}



/*----------------------------*/
/* Home                       */
/*----------------------------*/

.h-hero__collection-item.inactive {
	opacity: 0;
}
.h-hero__progress-indicator.loading {
	width: 100%
}
.h-hero__name-container.hover {
	background-color: #eeeeee
}



/*----------------------------*/
/* CMS Projekte               */
/*----------------------------*/

.cms-p__nav__arrow-copy.active {
	bottom: 0;
	opacity: 1;
}
@media (min-width: 480px) {
	.p-list__copy, .p-list__dropdown {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
}

.w-lightbox-backdrop {
	background-color: rgba(255, 255, 255, 1)
}
.w-lightbox-right {
	background-image: url("https://uploads-ssl.webflow.com/5efb5554479f7f8c1f36d3a4/5f199543caaa8415ae9807f6_right-arrow.svg")
}
.w-lightbox-left {
	background-image: url("https://uploads-ssl.webflow.com/5efb5554479f7f8c1f36d3a4/5f19951f85124cb1b3e03d0d_left-arrow.svg")
}
.w-lightbox-close {
	background-image: url("https://uploads-ssl.webflow.com/5efb5554479f7f8c1f36d3a4/5f30400f6730a47d7491a5b4_aebi-icons-close.svg")
}
.cms-p__gallery__lightbox.active img {
	transform: scale3d(1, 1, 1) !important
}
.cms-p__gallery__lightbox.active .utility__hover__gradient {
	transform: translate3d(0px, 100%, 0px) !important
}



/*----------------------------*/
/* Projekte                   */
/*----------------------------*/

@media (min-width: 767px) {
	.p-hero__section {
		height: calc(100vh - 75px)
	}	
}


input, select {
	-webkit-appearance: none; box-shadow: none !important;
}
@media(min-width: 1400px) {
	.p-list__column2 {
		display: block
	}
	.p-list__column3 {
		width: 20%
	}
	.p-list__column4 {
		width: 30%
	}
}

.p-list__filter__section.fixed .p-list__filter__container {
	padding: 0 calc(10vw + 104px) 0 7vw;
	margin: 0px;
	position: fixed
}
@media (max-width: 767px) {
	.p-list__filter__section.fixed .p-list__filter__container {
		position: fixed;
		padding: 47px 8vw;
	}
}
.p-list__dropdown.set {
	border-bottom: 1px solid #1c1c1c
}
.p-hero__item.swiper-slide-prev {
	opacity: 0
}


.p-list__filter-column .irs--flat .irs-line {
	height: 1px;
	background-color: #e2e2e2;
	top: 38px;
}
.p-list__filter-column .irs-handle {
	width: 10px;
	height: 10px;
	border-radius: 50px;
	border: 1px solid #1c1c1c;
	background-color: #f4f5f6;
	top: 34px;
	cursor: pointer
}
.p-list__filter-column .p-list__filter-column .irs-handle i,
.p-list__filter-column .irs--flat .irs-handle>i:first-child {
	display: none
}
.p-list__filter-column .irs--flat .irs-bar {
	height: 1px;
	background-color: #1c1c1c;
	top: 38px;
}
.irs--flat .irs-from, 
.irs--flat .irs-to, 
.irs--flat .irs-single {
	background-color: transparent;
	font-size: 14px;
	padding: 0px;
	border-radius: 0px;
	color: #1c1c1c;
	font-weight: 400;
	top: 10px;
}
.irs--flat .irs-from:before, 
.irs--flat .irs-to:before, 
.irs--flat .irs-single:before {
	display: none
}
.irs {
	font-family: Gordita, sans-serif
}
.p-list__filter__years a {
	display: inline
}
.p-list__filter__years a.fltr-active {
	color: red;
}
.p-list__dropdown-arrow {
	pointer-events: none
}
.isotope .isotope-item {
  -webkit-transition-property: top, left, opacity;
     -moz-transition-property: top, left, opacity;
      -ms-transition-property: top, left, opacity;
       -o-transition-property: top, left, opacity;
          transition-property: top, left, opacity;
}


/*----------------------------*/
/* Text Animation             */
/*----------------------------*/

.textanimation__container {
	display: inline-block;
	overflow: hidden;
	padding: 5px 0;
	margin: -5px 0;
}
.textanimation__text {
	position: relative;
	bottom: -100px;
	-webkit-transition: bottom 1s cubic-bezier(.23, 1, .32, 1);
	transition: bottom 1s cubic-bezier(.23, 1, .32, 1);
}
.textanimation__text.visible {
	bottom: 0px;
}
.textanimation__row {
	display: block;
}


/*----------------------------*/
/* Kontakt                    */
/*----------------------------*/

.contact__map__gradient, .contact__button {
	pointer-events: none
}
.contact__button a {
	pointer-events: auto
}



/*----------------------------*/
/* Über uns                   */
/*----------------------------*/

.uu-team__collection-item:first-child {
	border-top-color: #434343;
}
.uu-team__cursor {
	pointer-events: none
}
.uu-team__cursor__item.active {
	opacity: 1;
}
.uu-team__cursor__container.show .uu-team__cursor__item {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
.uu-team__cursor__container.show {
	opacity: 1;
}




